# 切记不要使用单引号, 只能使用双引号或者不使用引号, 注释需要单独一行
appname = binance_futures
log = 1

[binance]
api_key = ""
api_secret = ""

[coin]
# 挂单购买的超时时间, 秒级别
buy_timeout = 300
# 排除的币种,多个使用逗号分隔
exclude_symbols = "1000SHIBUSDT,ETHUSDT"
# 最大持仓数量
max_count = 4
# 轮训时间秒
sleep_time = 1
# 开仓的下单类型, MARKET 市价, LIMIT: 限价(根据价格深度取平均价挂单，有可能无法买入)
order_type = LIMIT
# 允许做多
allow_long = 1
# 允许做空
allow_short = 1
# 持仓的最长时间, 秒级别(暂废弃)
hold_max_time = 1800

[trade]
# 是否开启合约交易的总开关
enable = 1
# 止盈百分比
profit = 10
# 止损百分比
loss = 100
# 购买策略
strategy_trade = line3
# 选币策略
strategy_coin = coin3

[spot]
# 是否开启新币抢购的开关
new_enable = 0

[web]
# 监听端口
port = 3333
# 首页 path
index = zmkm
# jwt key
secret_key = asd123jkl
# 用户名
username = admin
# 密码
password = admin
commend_start = pm2 restart binance_futures
commend_stop = pm2 restart binance_futures
commend_log = pm2 log binance_futures

[dingding]
dingding_token = ""
dingding_word = "报警"